<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.v12.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.it.v12.entity.TUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nice_name" jdbcType="VARCHAR" property="niceName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="regist_date" jdbcType="TIMESTAMP" property="registDate" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="start" jdbcType="BIT" property="start" />
    <result column="flag" jdbcType="BIT" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, nice_name, password, email, phone, regist_date, last_login_date,
    start, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
<!--登入验证 查询用户是否存在-->
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
        username,PASSWORD FROM
        t_user WHERE
        username = #{username,jdbcType=VARCHAR}
        OR
        phone = #{phone,jdbcType=VARCHAR}
         AND flag=1 AND START =1
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.it.v12.entity.TUser">
    insert into t_user (id, username, nice_name, 
      password, email, phone, 
      regist_date, last_login_date,
      start, flag)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{niceName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{registDate,jdbcType=TIMESTAMP}, #{lastLoginDate,jdbcType=TIMESTAMP},
      #{start,jdbcType=BIT}, #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.it.v12.entity.TUser" useGeneratedKeys="true" keyProperty="id">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="niceName != null">
        nice_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="registDate != null">
        regist_date,
      </if>
      <if test="lastLoginDate != null">
        last_login_date,
      </if>
      <if test="start != null">
        start,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="niceName != null">
        #{niceName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="registDate != null">
        #{registDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="start != null">
        #{start,jdbcType=BIT},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.v12.entity.TUser">
    update t_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="niceName != null">
        nice_name = #{niceName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="registDate != null">
        regist_date = #{registDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null">
        last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="start != null">
        start = #{start,jdbcType=BIT},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.v12.entity.TUser">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      nice_name = #{niceName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      regist_date = #{registDate,jdbcType=TIMESTAMP},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      start = #{start,jdbcType=BIT},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>




  <!--根据用户的ID来激活用户-->
  <update id="updateUserStart" parameterType="java.lang.Long">
    update t_user
    set
    start = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
