<!DOCTYPE html>
<html lang="en">
<base href="/">
<html xmlns:th="http://www.thymeleaf.org">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<!--文件上传的需要的css文件-->
<link rel="stylesheet" href="CSS/uploadifive.css">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>

</head>
<body>
<!--采用bootstarap来布局-->
<div class="container-fluid">

    <!--按钮-->
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button type="button" class="btn btn-primary" id="bt_add">添加</button>
            <button type="button" class="btn btn-danger" id="bt_deleteBatch">批量删除</button>
        </div>
    </div>
    <!--列表-->
    <div class="row">
        <div class="col-md-12">
            <!--表格展示数据-->
            <table class="table table-hover">
                <tr>
                    <td>
                        全选
                        <input type="checkbox" id="ckALL"/>
                    </td>
                    <td>商品类别</td>
                    <td>名称 </td>
                    <td>价格</td>
                    <td>图片</td>
                    <td>卖点</td>
                    <td>操作</td>
                </tr>

                <tr th:each="p:${page.list}">
                    <td>
                       ID: <span th:text="${p.id}"></span> <input type="checkbox" class="ckbx" th:value="${p.id}"/>
                    </td>
                    <td th:text="${p.typeName}">商品类别</td>
                    <td th:text="${p.name}">名称 </td>
                    <td th:text="${p.price}">价格</td>
                    <td><img src="#" th:src="${p.images}" style="width:80px;height: 80px;"/></td>
                    <td th:text="${p.salePoint}">卖点</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm bt_update" th:id="${p.id}">修改</button>
                        <button type="button" class="btn btn-danger btn-sm bt_delete" th:id="${p.id}">删除</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--分页的显示-->
    <div class="row">
        <div class="col-md-6">
            当前是第<span th:text="${page.pageNum}"></span>页，
            每页展示<span th:text="${page.pageSize}"></span>条记录，
            共<span th:text="${page.pages}"></span>页
        </div>
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous"  th:href="|product/page/${page.pageNum > 1 ? page.pageNum-1:page.pageNum}/${page.pageSize}|">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="pNum:${page.navigatepageNums}"
                         th:class="${page.pageNum == pNum ? 'active' : ''}">
                            <a href="#" th:href="|product/page/${pNum}/${page.pageSize}|" th:text="${pNum}">1</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next" th:href="|product/page/${page.pageNum < page.pages ? page.pageNum+1 : page.pages}/${page.pageSize}|">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

    <!--添加功能的弹框-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加商品</h4>
                </div>
                <div class="modal-body">
                  <!--表单的输入显示-->
                    <form class="form-horizontal" id="addFrom" action="product/add" method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" placeholder="请输入商品的名称！" name="product.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">价格</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="price" placeholder="请输入商品的价格！" name="product.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePrice" class="col-sm-2 control-label">促销价</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="salePrice" placeholder="请输入商品的促销价！" name="product.salePrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePoint" class="col-sm-2 control-label">卖点</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="salePoint" placeholder="请输入商品的卖点！" name="product.salePoint">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file_upload" class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-9">
                               <input id="file_upload" name="file" type="file"/>
                               <img src="#" id="imageShows" style="display: none;width: 100px;height: 100px;">
                                <input type="hidden" id="imagePath" name="product.images">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeId" class="col-sm-2 control-label">商品类别</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="typeId" name="product.typeId">

                                </select>
                                <input type="hidden" value="电子数码" name="product.typeName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDesc" class="col-sm-2 control-label">商品描述</label>
                            <div class="col-sm-9">
                                <div id="editor">
                                    <input type="hidden" id="productDescVal" name="productDesc"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer col-md-4 col-md-offset-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                    <button type="button" class="btn btn-primary" id="add_btn">添加</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <!--修改功能的弹框-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改商品</h4>
                </div>
                <div class="modal-body">
                    <!--表单的输入显示-->
                    <form class="form-horizontal" id="addFrom" action="product/edit" method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" placeholder="请输入商品的名称！" name="product.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">价格</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="price" placeholder="请输入商品的价格！" name="product.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePrice" class="col-sm-2 control-label">促销价</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="salePrice" placeholder="请输入商品的促销价！" name="product.salePrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salePoint" class="col-sm-2 control-label">卖点</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="salePoint" placeholder="请输入商品的卖点！" name="product.salePoint">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="image" name="product.images">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeId" class="col-sm-2 control-label">商品类别</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="typeId" name="product.typeId">
                                    <option value="1">电子数码</option>
                                </select>
                                <input type="hidden" value="电子数码" name="product.typeName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDesc" class="col-sm-2 control-label">商品描述</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="productDesc" name="productDesc"></textarea>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer col-md-4 col-md-offset-4">
                    <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
                    <button type="button" class="btn btn-primary" id="add_btn">修改</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
<!--富文本编辑器的js文件-->
<script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!--文件上传的需要的js文件-->
<script src="js/jquery.uploadifive.js"></script>

<script type="text/javascript">
    $(function () {
        //为添加的按钮绑定事件 backdrop:"static",--->设置只在点击按钮的时候关闭模态框   keyboard:false --->按下esc键不退出
        $("#bt_add").click(function () {
            $('#addModal').modal({
                backdrop:"static",
                keyboard:false
            });
        });

        //为保存按钮绑定事件
        $("#add_btn").click(function () {
            //将富文本框中的内容提交
            var texted =  editor.txt.html();//因为需要显示所以是获取html的形式获取数据
            $("#productDescVal").val(texted);
            //提交表单
            $("#addFrom").submit();
        });

        //为修改按钮绑定事件
        $(".bt_update").click(function () {
            //获取到ID
            var id = $(this).prop("id");
            if(confirm("确认需要修改数据吗？")){
                $.ajax({
                    url:"product/toUpdate/"+id,
                    type:"POST",
                    success:function (data) {
                       //返回该ID的具体商品信息
                        alert(data);
                    }
                });
            }
          $('#editModal').modal({
                backdrop:"static",
                keyboard:false
            });
        });

        //为删除按钮绑定事件
        $(".bt_delete").click(function () {
            //获取到ID
            var id = $(this).prop("id");
            if(confirm("确认需要删除吗？")){
                $.ajax({
                    url:"product/deleteById/"+id,
                    type:"POST",
                    success:function (data) {
                        if(data.statCodes == 200){
                            alert(data.data);
                            location.reload();
                        }else {
                            alert(data.data);
                        }
                    }
                });
            }
        });

        //批量删除的实现
        $("#bt_deleteBatch").click(function () {
            //获取被选中的按钮
          var checks =  $(".ckbx:checked");
          if(checks.length > 0){
            if(confirm("确定删除选中的数据！！")){
                var ids = [];
                for(var index =0;index<checks.length;index++){
                    ids.push(checks[index].value);
                }
                //传入后台完成真正的删除功能
                $.ajax({
                    url:"product/delteSelects",
                    type:"POST",
                    data:"ids="+ids,
                    success:function (data) {
                        if(data.statCodes == 200){
                            alert(data.data);
                            location.reload();
                        }else {
                            alert(data.data);
                        }
                    }
                });
            }
          }else{
              alert("请选择需要删除的记录！！！")
          }
        });
        //全选功能的实现
        $(".ckbx").click(function () {
            $("#ckALL").prop("checked",$(".ckbx").length == $(".ckbx:checked").length);
        });
        $("#ckALL").click(function () {
            $(".ckbx").prop("checked",$(this).prop("checked"));
        });

        //富文本编辑器实现
        var E = window.wangEditor;
        var editor = new E('#editor');
        // 自定义菜单配置
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'quote',  // 引用
            'emoticon',  // 表情
            'image',  // 插入图片
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ]
        //自定义上传图片的名字
        editor.customConfig.uploadFileName = 'files';
        // 配置服务器端地址
        editor.customConfig.uploadImgServer = 'file/uploads';

        editor.create();

        //文件上传的实现
        $("#file_upload").uploadifive({
            'uploadScript':'file/upload',
            'buttonText':'上传图片',
            'buttonClass'  : 'someClass',
            'fileObjName':'file',
            'onUploadComplete' : function(file,data) {
                var jsonData = JSON.parse(data);
                console.log(data);
                console.log(file);
                $("#imageShows").attr("src",jsonData.data).show();
                $("#imagePath").val(jsonData.data);
            }
        });

        //异步的加载商品类别的数据
        $("#typeId").click(function () {

            ajaxs();

           // var lengs = $("#typeId").options.length;
            var lengs = document.getElementById("#typeId").options.length;
            console.log(lengs);
        });

        function ajaxs() {
            $.ajax({
                url:"product/selectProductType",
                type:"POST",
                success:function (data) {
                    var datas=JSON.parse(data);
                    for(var i = 0 ; i<datas.length;i++){
                        $("#typeId").append("<option value='"+datas[i].id+"'>"+datas[i].types+"</option>");
                    }
                }
            });
            return false;
        }
    });

</script>

</body>
</html>
